<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmall.mapper.AdProductMapper">

	<!-- 1차 카테고리 출력 -->
	<select id="getCategoryList" resultType="com.hmall.domain.CategoryVO">
		select cg_code, cg_prt_code, cg_name from category_tbl
		where cg_prt_code is null
	</select>
	
	<!-- 2차 카테고리 출력 -->
	<select id="getSubCategoryList" resultType="com.hmall.domain.CategoryVO">
		select cg_code, cg_prt_code, cg_name from category_tbl
		where cg_prt_code = #{cg_code}
	</select>
	
	<!-- 상품등록 -->
	<insert id="product_insert">
		insert into product_tbl(pdt_num, cg_prt_code, cg_code, pdt_name, pdt_price, pdt_discount, pdt_detail, pdt_img, pdt_company, pdt_count_buy, pdt_buy)
		values(seq_pdt_num.nextval, #{cg_prt_code}, #{cg_code}, #{pdt_name}, #{pdt_price}, #{pdt_discount}, #{pdt_detail}, #{pdt_img}, #{pdt_company}, #{pdt_count_buy}, #{pdt_buy})
	</insert>
	
	<!-- 상품수정 폼 -->
	<select id="product_modify" resultType="com.hmall.domain.ProductVO">
		select * from product_tbl where pdt_num = #{pdt_num}
	</select>
	
	<!-- 상품수정하기 -->
	<update id="product_modifyOk">
		update product_tbl 
			set cg_prt_code = #{cg_prt_code},
				cg_code = #{cg_code},
				pdt_name = #{pdt_name},
				pdt_price = #{pdt_price},
				pdt_discount = #{pdt_discount},
				pdt_detail = #{pdt_detail},
				pdt_img = #{pdt_img},
				pdt_company = #{pdt_company},
				pdt_count_buy = #{pdt_count_buy},
				pdt_buy = #{pdt_buy},
				pdt_date_edit = sysdate
			
		where pdt_num = #{pdt_num}
	</update>
	
	<delete id="product_delete">
		delete from product_tbl where pdt_num = #{pdt_num}
	</delete>
	
	<sql id="criteria">
		<trim prefix="(" suffix=") and" prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							pdt_name like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'D'.toString()">
							pdt_num like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							pdt_company like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 상품 리스트 -->
	<select id="product_list" resultType="com.hmall.domain.ProductVO">
		<![CDATA[
		select pdt_num, cg_code, cg_prt_code, pdt_name, pdt_price, pdt_discount, pdt_detail, pdt_img, 
        		pdt_company, pdt_count_buy, pdt_buy, pdt_date_up, pdt_date_edit
		from
		    (select /*+ index_desc(product_tbl SYS_C005127) */ rownum rn, pdt_num, cg_code, cg_prt_code, pdt_name, pdt_price, pdt_discount, pdt_detail, pdt_img, 
		            pdt_company, pdt_count_buy, pdt_buy, pdt_date_up, pdt_date_edit
		    from product_tbl where pdt_num > 0 and 
		]]>    
		
			<include refid="criteria"></include>
		
		<![CDATA[    
		    rownum > 0 and rownum <= #{pageNum} * #{amount})
		where rn  > (#{pageNum}-1) * #{amount}
		]]>
	</select>
	
	<select id="getTotalCountProduct" resultType="int">
		
		select count(*) from product_tbl where 
		
		<include refid="criteria"></include>
		
		<![CDATA[
		pdt_num > 0
		]]>
	</select>
	
	
	
	
	
</mapper>